h1 {
	color:purple;
}

td {
	border: 1px solid black;
	width: 125px;
	height: 75px;
	text-align: center;
}

.boja-najdraza-primjer {
	color: cadetblue;
}

.boja-najdraza-lana{
	color:rgb(172, 229, 253)
}

.boja-najdraza-elizabeta{
	color:rgb(243, 154, 45)
}

.boja-neznam {
	color: red;
}

.boja-nimalo {
	color: palevioletred;
}

.boja-osnovno {
	color: darkgoldenrod;
}

.boja-osrednje {
	color: green;
}

.boja-puno {
	color: blue;
}