<footer class="border-black p-4 grid grid-cols-2 sm:grid-cols-3 justify-between bg-pink-600 ">

    
    <div class="">
        <img src="images/esnlogo.png" alt="Logo" class="w-16 h-16">
        <p>ESN Croatia</p>
        <p>Istarska ulica 5</p>
        <p>31000</p>
        <p>Osijek</p>
        <p>Republic of Croatia</p>
    </div>

    <div class="self-start sm:self-center justify-self-end sm:justify-self-center">
        <a href="https://www.instagram.com/esncroatia/">
            <img src="images/instagram.svg " alt="Instagram" class="w-8 h-8 inline m-4">
        </a>
        <a href="https://www.tiktok.com/@esncroatia">
            <img src="images/tiktok.svg " alt="TikTok" class="w-8 h-8 inline m-4">
        </a>
    </div>
    
    <div class="text-left sm:text-right self-center mt-2">
        <p>Terms and services</p>
        <p>Privacy policy</p>
    </div>
        
</footer>