<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="images/favicons/CEE_skii.ico"
      sizes="32x32" />
    <link href="/output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet" />
  </head>
  <body class="bg-white">
    <div id="header-bg"></div>

    <%- include('partials/header')%>
    <%- include('partials/dropdownlist')%>

    <section class="min-h-screen py-5">
      <div class="container mx-auto flex flex-col justify-center px-4 md:px-8">
        <h2
          class="text-esn-lightblue mb-12 text-center text-3xl font-bold sm:text-4xl">
          Frequently Asked Questions
        </h2>
        <div
          class="mx-[4%] flex w-11/12 flex-col sm:px-8 md:mx-[12.5%] md:w-9/12 lg:px-12 xl:px-32">
          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              Who can attend the Croatian Erasmus Event?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                This event is primarily for Erasmus students in Croatia, but
                anyone interested can buy a ticket and join the experience!
              </p>
            </div>
          </details>

          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              Can I bring my own ski equipment?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                Yes, you can bring your own equipment if you prefer. Just make
                sure it's properly packed and labeled for transport.
              </p>
            </div>
          </details>

          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              Is ski equipment included in the price?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                No, ski equipment rental is not included in the trip price. The
                full set (skis, boots, and poles) can be rented for €35 for the
                entire trip.
              </p>
            </div>
          </details>

          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              What is après-ski?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                Après-ski is a daytime party that takes place right after
                skiing, while the sun is still out. It’s all about music,
                dancing, and making unforgettable memories with friends — the
                perfect way to end a day on the slopes!
              </p>
            </div>
          </details>

          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              Are meals included in the trip?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                Yes, breakfast and dinner are included each day. Lunch is not
                included, as most people eat on the slopes or grab something
                during the ski break.
              </p>
            </div>
          </details>

          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              What are the evening activities like?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                Every night there will be organized parties or social events.
                Expect themed parties, music, and lots of fun moments to share
                with your Erasmus friends!
              </p>
            </div>
          </details>

          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              What kind of accommodation will we have?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                We'll be staying at Hotel Alpina in Kranjska Gora, a cozy
                mountain hotel located right next to the ski slopes. The hotel
                offers comfortable rooms with private bathrooms, Wi-Fi, and
                beautiful views of the surrounding Alps. Guests can also enjoy a
                wellness area with a sauna and spa facilities, as well as a
                restaurant serving delicious local and international dishes.
                It’s the perfect place to relax and recharge after a fun day on
                the slopes.
              </p>
            </div>
          </details>

          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              Is snowboarding also included or allowed on the trip?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                Yes, absolutely! Snowboarders are more than welcome to join.
                There is also an option to attend snowboarding lessons for those
                who want to learn or improve their skills. Experienced riders
                are, of course, free to snowboard independently on the slopes.
              </p>
            </div>
          </details>

          <details class="group mb-4">
            <summary
              class="border-esn-lightblue bg-esn-lightblue-lightened text-esn-lightblue hover:bg-esn-lightblue-darkened mt-2 cursor-pointer rounded-lg border-l-4 px-4 py-2 text-xl font-bold transition-all">
              Do you have organized transportation?
            </summary>

            <div
              class="faq-content max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
              <p
                class="border-esn-lightblue text-esn-lightblue mt-2 rounded-lg border-l-4 bg-white px-4 py-2">
                Yes, transportation is organized, with departures from two
                locations:
                <b>Split</b>
                and
                <b>Zagreb</b>
                . The bus from Split has an
                <b>additional cost of €40</b>
                , but the price may increase if the bus is not fully booked.
              </p>
            </div>
          </details>
        </div>
      </div>
    </section>
    
    <%- include('partials/footer')%>
    <script src="/scripts/faq-toggle.js"></script>
    <script src="scripts/feedback.js"></script>
  </body>
</html>
