<footer>
  <div class="flex flex-col items-center bg-<%=accentColour%>-lightened p-2">
    <img src="<%=fairy%>" alt="Croatian Erasmus Event fairy mascot logo" class="h-28 w-28" />

    <div class="mt-2">
      <span class="text-xl font-bold text-<%=accentColour%>-darkened">Follow us on social media!</span>
    </div>

    <div class="my-4 flex w-2/5 flex-row justify-around">
      <div
        class="flex h-12 w-12 items-center justify-center rounded-[1.5em] bg-white">
        <a href="https://www.instagram.com/croatianerasmusevent/">
          <img
            src="images/social_media_logos/instagram.svg "
            alt="Follow us on Instagram - Croatian Erasmus Event"
            class="inline h-8 w-8" />
        </a>
      </div>

      <div
        class="flex h-12 w-12 items-center justify-center rounded-[1.5em] bg-white">
        <a href="https://www.tiktok.com/@esncroatia/">
          <img src="images/social_media_logos/tiktok.svg " alt="Follow us on TikTok - ESN Croatia" class="inline h-8 w-8" />
        </a>
      </div>
    </div>
  </div>

  <div
    class="flex h-6 w-full items-center justify-center bg-<%=accentColour%> py-4">
    <a href="https://esn.hr" class="text-xs text-white">
      ESN Croatia, Selska 112c, 10000 Zagreb, Croatia
    </a>
  </div>
</footer>
