/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'tailwindcss';

@layer {
  .shadow-darkblue {
    text-shadow: 2px 2px 0px #2e3192;
  }

  .shadow-blue {
    text-shadow: 2px 2px 0px #00aeef;
  }

  .shadow-gray {
    box-shadow: 2px 2px 0px #555555;
  }
}

@theme {
  --color-esn-lightblue: #00aeef;
  --color-esn-darkblue: #2e3192;
  --color-esn-lightblue-lightened: #bbedff;
  --color-esn-lightblue-darkened: #005777;
}
